@keyframes zoomIn {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
  }
  
  header h1 {
    animation: zoomIn 0.8s ease-out;
  } 
  
.typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: 2px solid #fff;
    white-space: nowrap;
    animation: typing 3s steps(20, end), blink 0.7s step-end infinite;
    font-size: 2.5em;
  }  
   @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: white }
  }
  

@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  header h1 {
    animation: slideIn 1s ease-out;
  }
  
  
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fefefe;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #2e8b57;
    color: white;
    padding: 50px 20px;
    text-align: center;
   
      
}

section {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
   
}
header, section {
    animation: fadeIn 2s ease-out;
  }
  

h2 {
    border-bottom: 2px solid #2e8b57;
    padding-bottom: 10px;
    color: #2e8b57;
}

ul {
    list-style: square;
    padding-left: 20px;
}

a {
    color: #2e8b57;
    text-decoration: none;
} 

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #2e8b57;
    color: white;
    border-radius: 19px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #27ab69;
}
a:hover {
    color: #1a4d2e;
    text-decoration: underline;
}



footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    color: #555;
}
